[submodule "themes/bauxite/src/fonts/source-sans"]
	path = themes/bauxite/src/fonts/source-sans
	url = git@github.com:adobe-fonts/source-sans.git
[submodule "themes/bauxite/src/fonts/source-serif"]
	path = themes/bauxite/src/fonts/source-serif
	url = git@github.com:adobe-fonts/source-serif.git
