<nav
  class="container content navbar"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" class="navbar-item">
        {{ $text := print .Name | safeHTML }} {{ $text }}
      </a>
      {{ end }}
    </div>
  </div>
</nav>
