// Configure Bulma.
$family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 18px;
$body-line-height: 1.6;
$container-max-width: 768px;

// Import Bulma
@import "../node_modules/bulma/bulma.sass";

// ##########################################
// Application specific.
// ##########################################
.homepage-banner {
  margin-top: 2rem;
  margin-bottom: 4rem;

  -webkit-filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.2));

  overflow: hidden;
}

.content {
  img {
    max-width: 100%;
    max-height: 80vh;

    -webkit-filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.2));

    margin: 4rem auto;
    display: block;
  }
}

.title.is-1 {
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 0.5rem solid $primary;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title.is-2 {
  padding-left: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-left: 0.4rem solid $dark;
}

.title.is-3 {
  padding-left: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-left: 0.3rem solid $dark;
}

.subtitle {
  color: $grey-light !important;
  font-weight: 400 !important;
}
